/* NAVIGATION STUFF GOES HERE  */
nav button {display: none;}
#primaryNav {display: flex;}
nav {
  ul {
    margin-left: 2%;
    border-left: 1px solid rgba(255,255,255,0.1);
  }
  ul li {
    border-right: 1px solid rgba(255,255,255,0.1);
  }
  ul li a {
    //display: block;
    border: none; //undo small screen top border
    font-size: 1rem;
    padding: .9rem 1.2rem;
    color: rgba(255,255,255,1);
    text-decoration: none;
    /* transition */
    -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear;
  }


  ul li a:hover {background: darken($menuColor, 5%);}
}//end nav